.menu {
  grid-column: 1/-1;
  grid-row: 1/2;
  padding: 1.5rem 0 1.2rem 0;
  background-color: #000;

  &__inner {
    display: grid;
    grid-template-columns: 1fr 92rem 1fr;
  }

  &__navigation {
    grid-column: 2/3;
    display: flex;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 0 calc(50% - 60rem);
  }

  &__image {
    margin-right: 0.6rem;
    width: 1.2rem;
    height: 1.2rem;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
    }
  }

  &__block {
    display: flex;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    position: relative;
    padding-bottom: .25rem;

    &_line:hover::after {
      content: '';
      position: absolute;
      width: 1.8rem;
      height: .2rem;
      right: 0;
      bottom: 0;
      background-color: #fff;
    }
  }

  &__block:not(:last-child) {
    margin-right: 1.2rem;
  }

  &__brand {
    display: flex;
  }

  &__container {
    display: flex;
  }

  &__text {
    font-size: 1.1rem;
    line-height: 1.3rem;
  }
}

@media only screen and (max-width: 77.5em) {
  .menu__inner {
    grid-template-columns: 10rem 1fr 10rem;
  }
}

@media only screen and (max-width: 62.5em) {
  .menu__inner {
    grid-template-columns: 7rem 1fr 7rem;
  }
}

@media only screen and (max-width: 50em) {
  .menu__inner {
    grid-template-columns: 4rem 1fr 4rem;
  }

  .menu__text {
    display: none;
  }
}

@media only screen and (max-width: 40.62em) {
  .menu__inner {
    grid-template-columns: 2rem 1fr 2rem;
  }
}

@media only screen and (max-width: 31.25em) {
  .menu__inner {
    grid-template-columns: 1.3rem 1fr 1.3rem;
  }
}