.content {
  grid-column: 2/3;
  grid-row: 2/3;
  padding-top: 4.7rem;

  &__list {
    grid-column-gap: 1.6rem;
    position: relative;
    height: 100%;
    display: flex;
    width: auto;
    // list-style: none;
  }

  &__item {
    display: flex;
    width: 100%;
    margin-bottom: 1.6rem;
    text-decoration: none;
    position: relative;
  } 

  &__image {
    width: 100%;
    object-fit: cover;
  }


  &__link {
    width: 100%;
  }

  &__block {
    display: none; //
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 10px;
  }

  &__avatar {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    img {
      width: 40px;
      height: 40px;
      border-radius: 5px;
    }
  }

  &__name {
    margin-top: 1rem;
    font-size: 1rem;
  }

  &__login {
    font-size: .5rem;
  }

  &__icon {
    display: flex;
    margin-top: 45px;

    img {
      cursor: pointer;
      width: 15px;
    }

    img:not(:last-child) {
      margin-right: 10px;
    }
  }
}

@media only screen and (max-width: 77.5em) {
}

@media only screen and (max-width: 62.5em) {
}

@media only screen and (max-width: 50em) {
}

@media only screen and (max-width: 40.62em) {
}

@media only screen and (max-width: 31.25em) {
}