html {
  font-size: 62.5%;

  @media only screen and (max-width: 77.5em) {
    font-size: 50%;
  }
}

body {
  font-family: 'SF UI Display', sans-serif;
}

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 2;
}

.container {
  display: grid;
  grid-template-columns: 1fr 92rem 1fr;
  overflow: hidden;
  position: relative;
  z-index: 2;

  @media only screen and (max-width: 77.5em) {
    grid-template-columns: 10rem 1fr 10rem;
  }

  @media only screen and (max-width: 62.5em) {
    grid-template-columns: 7rem 1fr 7rem;
  }

  @media only screen and (max-width: 50em) {
    grid-template-columns: 4rem 1fr 4rem;
  }

  @media only screen and (max-width: 40.62em) {
    grid-template-columns: 2rem 1fr 2rem;
  }

  @media only screen and (max-width: 31.25em) {
    grid-template-columns: 1.3rem 1fr 1.3rem;
  }
}

.menu {
  grid-column: 1/-1;
  grid-row: 1/2;
  padding: 1.5rem 0 1.2rem 0;
  background-color: #000;

  &__inner {
    display: grid;
    grid-template-columns: 1fr 92rem 1fr;

    @media only screen and (max-width: 77.5em) {
      grid-template-columns: 10rem 1fr 10rem;
    }

    @media only screen and (max-width: 62.5em) {
      grid-template-columns: 7rem 1fr 7rem;
    }

    @media only screen and (max-width: 50em) {
      grid-template-columns: 4rem 1fr 4rem;
    }

    @media only screen and (max-width: 40.62em) {
      grid-template-columns: 2rem 1fr 2rem;
    }

    @media only screen and (max-width: 31.25em) {
      grid-template-columns: 1.3rem 1fr 1.3rem;
    }
  }

  &__navigation {
    grid-column: 2/3;
    display: flex;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 0 calc(50% - 60rem);
  }

  &__image {
    margin-right: 0.6rem;
    width: 1.2rem;
    height: 1.2rem;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
    }
  }

  &__block {
    display: flex;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    position: relative;
    padding-bottom: .25rem;

    &_line:hover::after {
      content: '';
      position: absolute;
      width: 1.8rem;
      height: .2rem;
      right: 0;
      bottom: 0;
      background-color: #fff;
    }
  }

  &__block:not(:last-child) {
    margin-right: 1.2rem;
  }

  &__brand {
    display: flex;
  }

  &__container {
    display: flex;
  }

  &__text {
    font-size: 1.1rem;
    line-height: 1.3rem;

    @media only screen and (max-width: 50em) {
      display: none;
    }
  }
}

.mode {
  display: flex;
  justify-content: center;
  padding-bottom: 4.0rem;

  &__container {
    display: flex;
    justify-content: space-between;
    width: 4.1rem;
  }

  &__ribbon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 1.4rem;
    height: 1.4rem;
  }

  &__tile {
    display: flex;
    width: 1.4rem;
    height: 1.4rem;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__item {
    display: block;
    background-color: #BDBDBD;

    &_ribbon {
      height: 0.6rem;
      width: 100%;

      @media only screen and (max-width: 40.62em) {
        background-color: #000;
      }
    }

    &_tile {
      width: 0.6rem;
      height: 0.6rem;

      @media only screen and (min-width: 40.62em) {
        background-color: #000;
      }
    }
  }
}

.search {
  grid-column: 2/3;
  margin-top: 2.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__form {
    display: flex;
  }

  &__title {
    background-color: transparent;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 4.5rem;
    line-height: 6rem;
    text-transform: capitalize;
    width: 100%;

    input {
      width: 100%;
    }

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: #fff;
    }
  }

  &__button {
    width: 7rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;

    img {
      width: 35%;
    }

    &_delete {
      width: 20% !important;
    }
  }

  &__line {
    margin: 1.8rem 0;
    height: 0.1rem;
    width: 67%;
    background-image: linear-gradient(270deg, #33333300 0%, #fff 50%, #33333380 100%);
    border-top-left-radius: 70%;
    border-bottom-left-radius: 30%;
    border-top-right-radius: 70%;
    border-bottom-right-radius: 30%;
    opacity: .5;

    @media only screen and (max-width: 31.25em) {
      width: 100%;
    }
  }

  &__list {
    display: flex;
    list-style: none;
    width: 65vw;
    overflow: hidden;
    text-transform: capitalize;

    @media only screen and (max-width: 31.25em) {
      width: 85vw;
    }
  }

  &__item {
    font-size: 1.1rem;
    line-height: 1.3rem;
    background-image: linear-gradient(270deg, #33333300 20%, #fff 40%);
    background-attachment: fixed;
    background-clip: text;
    color: transparent;
    flex-shrink: 0;
    flex-grow: 1;
    cursor: pointer;
    padding-bottom: .2rem;

    &:hover {
      background-image: linear-gradient(270deg, #33333300 20%, #b3b0b0 40%);
    }

    @media only screen and (max-width: 50em) {
      font-size: 1.5rem;
      line-height: 1.3rem;
    }

    @media only screen and (max-width: 40.62em) {
      font-size: 1.8rem;
      line-height: 1.5rem;
    }
  }

  &__item:not(:last-child) {
    margin-right: 1.5rem;
  }
}

.history {
  grid-column: 2/3;
  margin-top: 2.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__block {
    @media only screen and (max-width: 31.25em) {
      width: 85vw;
    }
  }

  &__title {
    background-color: transparent;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 4.5rem;
    line-height: 6rem;
    width: 100%;
  }

  &__line {
    margin: 1.8rem 0;
    height: 0.1rem;
    width: 80%;
    background-image: linear-gradient(270deg, #33333300 0%, #fff 50%, #33333380 100%);
    border-top-left-radius: 70%;
    border-bottom-left-radius: 30%;
    border-top-right-radius: 70%;
    border-bottom-right-radius: 30%;
    opacity: .5;
  }

  &__list {
    display: flex;
    list-style: none;
    width: 65vw;
    margin-top: 3.7rem;
    flex-wrap: wrap;
    justify-content: center;
    text-transform: capitalize;
  }

  &__item {
    font-size: 1.1rem;
    line-height: 1.3rem;
    color: #cac9c9;
    flex-shrink: 0;
    cursor: pointer;
    padding-bottom: .2rem;
    margin-bottom: 1rem;

    &:hover {
      color: #918f8f;
    }

    @media only screen and (max-width: 50em) {
      font-size: 1.5rem;
      line-height: 1.3rem;
    }

    @media only screen and (max-width: 40.62em) {
      font-size: 1.8rem;
      line-height: 1.5rem;
    }
  }

  &__item:not(:last-child) {
    margin-right: 1.5rem;
  }
}

.content {
  grid-column: 2/3;
  grid-row: 3/4;
  padding-top: 4.7rem;

  &__header {
    display: block;
    margin-bottom: 4.4rem;
    font-size: 4.5rem;
    line-height: 5.3rem;
    text-align: center;
  }

  &__list {
    grid-column-gap: 1.6rem;
    position: relative;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    list-style: none;
  }

  &__column {
    background-clip: padding-box;
  }

  &__column > div {
    background: grey;
  }

  &__item {
    display: flex;
    width: 100%;
    margin-bottom: 1.6rem;
    text-decoration: none;
    position: relative;

    &:hover .content__block {
      display: flex;
    }
  }

  &__image {
    width: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
  }

  &__link {
    width: 100%;
  }

  &__block {
    display: none;
    position: absolute;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    color: #fff;
    width: 100%;
    height: 100%;
    top: -0.1rem;
    left: 0;
    padding: 0.6rem;
    background: rgba(40, 36, 22, 0.4);
    backdrop-filter: blur(0.3rem);
    border-radius: 0.5rem;
  }

  &__avatar {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    img {
      width: 4.3rem;
      height: 4.3rem;
      border-radius: 0.3rem;
    }
  }

  &__name {
    margin-top: 1rem;
    font-size: 1.8rem;
  }

  &__login {
    margin-top: .2rem;
    font-size: 1rem;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    &_item {
      .delete {
        width: 1.4rem;
        margin-top: .25rem;
      }
    }

    &_item:nth-child(1) {
      img {
        width: 1.6rem;
      }
    }

    img {
      cursor: pointer;
      width: 2rem;

      &:hover {
        transform: scale(1.3)
      }

      &:active {
       background-image: red;
      }
    }

    &_item:not(:last-child) {
      margin-right: 2.4rem;
    }
  }
}

.photo {
  grid-column: 1/-1;
  grid-row: 2/3;

  &__inner {
    display: grid;
    grid-template-columns: 1fr 92rem 1fr;
    background: rgba(40, 36, 22, 0.01);
    backdrop-filter: blur(0.3rem);

    @media only screen and (max-width: 77.5em) {
      grid-template-columns: 10rem 1fr 10rem;
    }

    @media only screen and (max-width: 62.5em) {
      grid-template-columns: 7rem 1fr 7rem;
    }

    @media only screen and (max-width: 50em) {
      grid-template-columns: 4rem 1fr 4rem;
    }

    @media only screen and (max-width: 40.62em) {
      grid-template-columns: 2rem 1fr 2rem;
    }

    @media only screen and (max-width: 31.25em) {
      grid-template-columns: 1.3rem 1fr 1.3rem;
    }
  }

  &__grid {
    grid-column: 2/3;
    padding: 2.6rem 0;
  }


  &__avatar {
    display: flex;
    justify-content: space-between;
  }

  &__block {
    display: flex;
    height: 3.3rem;
    align-items: center;
  }

  &__image {
    height: 100%;

    img {
      height: 100%;
      border-radius: 0.5rem;
    }
  }

  &__text {
    margin-left: 0.625rem;
    color: #F2F2F2;
  }

  &__title {
    font-size: 1.8rem;
    line-height: 1.7rem;
  }

  &__descr {
    font-size: 1.2rem;
  }

  &__favorite {
    padding: 0.8rem;
    height: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;
    margin-right: 1.2rem;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__person {
    margin: 2.7rem 0;
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 100px #000000;

    img {
      width: 100%;
      border-radius: 0.5rem;
    }
  }

  &__button {
    display: flex;
    padding: 0.5rem 2.5rem 0.5rem 1.2rem;
    height: 100%;
    background: #219653;
    border: 1px solid #219653;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;
    align-items: center;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #F2F2F2;
    cursor: pointer;
    text-decoration: none;

    img {
      height: 100%;

    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__hashtag {
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: #fff;
  }

  &__tag {
    list-style: none;
    display: flex;
    margin-top: 1.1rem;
  }

  &__item {
    background: #FFFFFF;
    border-radius: 0.5rem;
    font-size: 1.1rem;
    line-height: 1.3rem;
    color: #828282;
    padding: 0.3rem 0.6rem;
    flex-shrink: 0;
    cursor: pointer;
  }

  &__item:not(:last-child) {
    margin-right: 1.2rem;
  }
}

.spinner {
  display: block;
  position: relative;
  width: 5rem;
  height: 5rem;
  margin: auto;
  margin-top: 15rem;

  &__item {
    display: inline-block;
    position: absolute;
    left: 0.5rem;
    width: 1rem;
    background: #000;
    animation: spinner 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }

  &__item:nth-child(1) {
    left: 0.5rem;
    animation-delay: -0.24s;
  }

  &__item:nth-child(2) {
    left: 2rem;
    animation-delay: -0.12s;
  }

  &__item:nth-child(3) {
    left: 3.5rem;
    animation-delay: 0;
  }

  @keyframes spinner {
    0% {
      top: 0.5rem;
      height: 4rem;
    }
    50%, 100% {
      top: 1.5rem;
      height: 2rem;
    }
  }
}