.search {
  grid-column: 2/3;
  margin-top: 2.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__form {
    display: flex;
  }

  &__title {
    background-color: transparent;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 4.5rem;
    line-height: 6rem;
    text-transform: capitalize;
    width: 100%;
    margin-left: 7rem;

    input {
      width: 100%;
    }

    &:focus {
      outline: none;
    }

    &::placeholder { 
      color: #fff;
    }
  }

  &__button {
    width: 7rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  &__line {
    margin: 1.8rem 0;
    height: 0.1rem;
    width: 67%;
    background-image: linear-gradient(270deg, #33333300 0%, #fff 50%, #33333380 100%);
    border-top-left-radius: 70%;
    border-bottom-left-radius: 30%;
    border-top-right-radius: 70%;
    border-bottom-right-radius: 30%;
    opacity: .5;
  }

  &__list {
    display: flex;
    list-style: none;
    width: 65vw;
    overflow: hidden;
  }

  &__item {
    font-size: 1.1rem;
    line-height: 1.3rem;   
    background-image: linear-gradient(270deg, #33333300 20%, #fff 40%);
    background-attachment: fixed;
    background-clip: text;
    color: transparent;
    flex-shrink: 0;
    // flex-grow: 1;
    cursor: pointer;
    padding-bottom: .2rem;

    &:hover {
      background-image: linear-gradient(270deg, #33333300 20%, #b3b0b0 40%);
    }    
  }

  &__item:not(:last-child) {
    margin-right: 1.5rem;
  }
}

@media only screen and (max-width: 77.5em) {
}

@media only screen and (max-width: 62.5em) {
}

@media only screen and (max-width: 50em) {
  .search__item {
    font-size: 1.5rem;
    line-height: 1.3rem;
  }
}

@media only screen and (max-width: 40.62em) {
  .search__item {
    font-size: 1.8rem;
    line-height: 1.5rem;
  }
}

@media only screen and (max-width: 31.25em) {
  .search__line {
    width: 100%;
  }
  .search__list {
    width: 85vw;
  }
}