html {
  font-size: 62.5%;
}

body {
  font-family: 'SF UI Display', sans-serif;
}

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 2;
}

.container {
  display: grid;
  grid-template-columns: 1fr 92rem 1fr;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

@media only screen and (max-width: 77.5em) {
  html {
    font-size: 50%;
  }

  .container {
    grid-template-columns: 10rem 1fr 10rem;
  }
}

@media only screen and (max-width: 62.5em) {
  .container {
    grid-template-columns: 7rem 1fr 7rem;
  }
}

@media only screen and (max-width: 50em) {
  .container {
    grid-template-columns: 4rem 1fr 4rem;
  }
}

@media only screen and (max-width: 40.62em) {
  .container {
    grid-template-columns: 2rem 1fr 2rem;
  }
}

@media only screen and (max-width: 31.25em) {
  .container {
    grid-template-columns: 1.3rem 1fr 1.3rem;
  }
}